#theme-toggle {
  visibility: hidden;
}

#theme-toggle + label {
  content: '';
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  vertical-align: bottom;
}

#theme-toggle:checked + label {
  background-color: gold;
}

#theme-toggle:not(:checked) + label {
  background-color: var(--background-color);
  box-shadow: inset -6px -2px 1px 1px var(--accent-color);
}

.audio-version {
  margin: 0 0 20px 0;
}

.audio-version audio {
  width: 100%;
}

.sidebar .btn-container {
  width: 100%;
}

.sidebar a.kofi-button {
  width: 100%;
}

.dialogue-line {
  color: var(--primary-color);
  font-style: italic;
}

.dialogue-line::before {
  content: "- ";
}

@media only screen and (max-width: 550px) {
  .masthead-title {
    text-align: left;
    margin-left: 60px;
  }

  .author-picture {
    display: none;
  }
}