@import url(https://fonts.googleapis.com/css?family=Merriweather:300);
html {
  font-family: "Merriweather", serif;
  font-size: 18px;
}

body {
  color: #242323;
  background-color: #f8f4f8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #313131;
}

.masthead {
  background-color: #00bcd4;
}

.masthead-title a {
  color: white;
}

.masthead-title small {
  color: black;
}

a {
  color: #0093aa;
}

a:focus, a:hover {
  color: #080808;
  background-color: #bff8ff;
  text-decoration: none;
  transition: all 300ms ease;
}

.sidebar-toggle {
  background-color: #006064;
  color: white;
}

.sidebar-toggle:active, #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #bff8ff;
  color: white;
}

.sidebar-item, .sidebar-nav-item {
  background-color: #f8f4f8;
  color: #232323;
}

.sidebar-nav-item.active, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
  background-color: #00838f;
  color: white;
  transition: all 300ms ease;
}

img {
  width: 100%;
}

strong {
  background-color: #bff8ff;
  font-weight: normal;
}