@import url(https://fonts.googleapis.com/css?family=Merriweather:300);
html {
  font-family: "Merriweather", serif;
  font-size: 18px;
}

body {
  color: #242323;
  background-color: #f8f4f8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #313131;
}

.masthead-title a img {
  width: 28px;
  margin-right: 5px;
  float: left;
}

.sidebar-icons {
  background-color: #f8f4f8;
  padding-left: 20px;
}

.sidebar-icons .icon {
  width: 36px;
  display: inline;
}

.masthead {
  background-color: #00bcd4;
}

.masthead-title a {
  color: white;
}

.masthead-title small {
  color: black;
}

a {
  color: #0093aa;
}

a:focus, a:hover {
  color: #080808;
  background-color: #bff8ff;
  text-decoration: none;
  transition: all 300ms ease;
}

.sidebar-toggle {
  background-color: #006064;
  color: white;
}

.sidebar-toggle:active, #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #00838f;
  color: white;
}

.sidebar-item, .sidebar-nav-item {
  background-color: #f8f4f8;
  color: #232323;
}

.sidebar-item a, .sidebar-nav-item a, .sidebar a {
  color: #232323;
}

.sidebar-nav-item.active{
  background-color: #bff8ff;
  color: #232323;
} 

a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
  background-color: #f8f4f8;
  color: black;
  transition: all 100ms ease-in-out;
  border-left: 5px solid #00838f;
  text-shadow: 1px 1px 0px silver;
}

img {
  width: 100%;
}

strong {
  background-color: #bff8ff;
  font-weight: normal;
}