@import url(https://fonts.googleapis.com/css?family=Merriweather:300);
html {
  font-family: "Merriweather", serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #313131;
}
