@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

:root {
  --primary-color: #ffd300;
  --accent-color: #de38c8;
  --secondary-accent-color: #470554;
  --background-color: #33135c;
  --text-color: #e0e0e0;
  --black: #0f021f;
}

html {
  font-family: "Merriweather", serif;
  font-size: 18px;
}

/* Body */
body {
  background-color: var(--black);
  color: var(--text-color);
}

/* Header */
@keyframes lightEffect {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.masthead {
  background: rgb(0, 0, 0);
  background: linear-gradient( 90deg, var(--primary-color) 5%, var(--accent-color) 10%, var(--secondary-accent-color) 35% );
}

.masthead-title a {
	color: var(--primary-color);
	text-shadow: 0px 0px 5px;
}

.masthead-title small {
  color: var(--text-color);
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--primary-color);
}

h1 {
  position: relative;
  margin-bottom: 38px;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 96%;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotate(180deg) scaleX(-1);
  opacity: 0.2;
  text-shadow: 0px 0px 10px var(--accent-color);
}

h1::after {
  content: "";
  position: absolute;
  top: 76%;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, var(--black) 88%);
 }

blockquote {
  color: var(--accent-color);
  border-left: .25rem solid var(--primary-color);  
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.page-title, .post-title, .post-title a {
	color: var(--primary-color);
	text-shadow: 0px 0px 10px var(--accent-color);
}

.masthead-title a img {
  width: 28px;
  margin-right: 5px;
  float: left;
}

.author-picture {
	background: url("/public/img/juanmirod.jpg");
	background-size: contain;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 12px;
	right: 55px;
	border-radius: 50%;
	border: 5px solid var(--accent-color);
	box-shadow: 0px 0px 15px var(--accent-color);
}

.sidebar-icons {
  background-color: var(--background-color);
  padding-left: 20px;
  color: var(--text-color);
}

.sidebar-icons .icon {
  width: 36px;
  display: inline;
  filter: hue-rotate(116deg) invert(100%);
}

a {
  color: var(--primary-color);
}

a:focus, a:hover {
  color: var(--text-color);
  background-color: var(--secondary-accent-color);
  text-decoration: none;
  transition: all 300ms ease;
}

.sidebar-toggle {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar-toggle:active, #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.sidebar-item, .sidebar-nav-item {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar-item a, .sidebar-nav-item a, .sidebar a {
  color: var(--text-color);
}

.sidebar-nav-item.active{
  background-color: var(--secondary-accent-color);
  color: var(--text-color);
} 

a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
	background-color: var(--secondary-accent-color);
	color: var(--primary-color);
	transition: all 100ms ease-in-out;
	border-left: 5px solid var(--accent-color);
	text-shadow: 0px 0px 2px var(--accent-color);
	box-shadow: inset 4px 0px 5px var(--accent-color);
}

img {
  width: 100%;
}

strong {
  background-color: var(--secondary-accent-color);
  color: var(--text-color);
  font-weight: bold;
}

.pagination {
  color: #616161;
}

a.pagination-item:hover {
	background-color: var(--secondary-accent-color);
}

code {
  color: var(--text-color);
  background-color: var(--background-color);
}
