---
layout: default
title: Home
---

<h2>Timeline</h2>
<p> 
  This posts or notes are intended to be low effort, stream of thought type of writing.
  I was a bit tired of writing on twitter. I got little to zero feedback anyway and the tweets
  were lost in the void after a few days.
</p>

<div class="posts">
  {% for post in site.microblog %}
  {% if post.title != "Home" and forloop.index < 10 %}
  <div class="post">
    <a href="{{ post.url }}">
      <span class="post-date">{{ post.date | date_to_string }}</span>
    </a>
    {{ post.content | markdownify }}
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  <a 
    class="pagination-item older" 
    href="https://github.com/juanmirod/juanmirod.github.io/tree/master/_microblog">
    See all posts in the github repo
  </a>
</div>
