---
layout: default
---

<div class="post">
  <h1 class="post-title" data-text="{{ page.title }}">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags contains "audio" %}
  <figure class="audio-version">
    <figcaption><small>Escuchar este artículo: (audio generado con la API de tts de OpenAI)</small></figcaption>
    <audio controls preload="metadata" src="/public/media/{{ page.audio }}">
      <a href="/public/media/{{ page.audio }}"> Download audio </a>
    </audio>
  </figure>  
  {% endif %}
  {{ content }}
</div>

<div>
  <p>Si quieres comentar, corregir algo o contribuir, puedes hacerlo en <a href="https://github.com/juanmirod/juanmirod.github.io">Github</a>. Cualquier comentario, crítica o contribución será bien recibido.</p>
</div>

{% if page.tags contains "javascript" %}
<div class="related">
    <h2>Más artículos de JavaScript</h2>
    <ul class="related-posts">
    {% for post in site.tags["javascript"] %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if page.tags contains "Inteligencia Artificial" %}
<div class="related">
    <h2>Más artículos de Inteligencia Artificial</h2>
    <ul class="related-posts">
    {% for post in site.tags["Inteligencia Artificial"] %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="related">
  <h2>Últimos artículos</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

