---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div>
  <a href="http://twitter.com/home?status={{ page.title }}%20http://juanmirod.github.io{{ page.url }}%20#poramoralcodigo"><img style="width:40px;" src="/public/img/twitter.png" title="Tuitea este artículo">
</div>

<div>
  <p>Si quieres comentar, corregir algo o contribuir, puedes hacerlo en <a href="http://twitter.com/home?status=@juanmirod%20#poramoralcodigo">twitter</a> o en <a href="https://github.com/juanmirod/juanmirod.github.io">Github</a> cualquier comentario, crítica o contribución será bien recibido.</p>
</div>

{% if page.tags contains "javascript" %}
<div class="related">
    <h2>Más artículos de JavaScript</h2>
    <ul class="related-posts">
    {% for post in site.tags["javascript"] %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="related">
  <h2>Últimos artículos</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

